#bottom-row{

    padding-top:400px;
    padding-bottom: 250px;
}

.row img{
    height:350px;
    width:600px;
}

body{
    background-color: black;
}

.col-lg-12 p {
	margin-top: 150px;

}

.front iframe{
	position: absolute;
	width:100%;
	height:100%;

}